.sectionLayout{
    display: flex;
    justify-content: space-around;
    align-items: center;
    align-content:center;
    height: 1000px;
    background: linear-gradient(to bottom, #1E1E1E 50%, #FFFFFF 50%);
}


.cards-layout{
    width: 200px;
    height: 270px;
    border-radius: 20px;
    border: 1px solid #000;
    background-color: #FFFFFF;
    align-items:center;
    text-align: center;
}

.project-info img{
    width: 80px;
    height: 82.715px;

}


.project-info h4{
    color: black;
    font-family: Aoboshi One;
    font-size: 17px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.project-info p{
    color: black;
    font-family: Aoboshi One;
    font-weight: 400;
    font-size: 13px;
    margin-top: 5px;
    margin-bottom: 5px;

}

.project-info{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.btns-cards{
    display: flex;
    width: 119px;
    height: 25px;
    padding: 12px 16px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
    border-radius: 6px;
    border: 1px solid #000;
    background: #FCA311;
    margin: 7px;
    text-decoration: none;
}

.btns-cards a{
    color: #000000;
    text-decoration: none;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 22px;
}

.card-dif{
    display: flex;
    width: 550px;
    height: 272px;
}

.card-style img{
    margin: 10px;
    align-items: center;
}

.card-style h4{
    text-align: center;
    font-family: Aoboshi One;
    font-size: 35px;
    font-style: normal;
    font-weight: bolder;
    line-height: normal;
}

.card-style p{
    text-align: center;
    font-family: Aoboshi One;
    font-size: 15px;
    font-weight: bolder;
    text-align: center;
    margin: 10px;
}

.conteudo{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
} 

conteudo img {
    max-height: 100%;
}

.infos-card{
    border: 1px solid #000;
    background: #FFE500;
    color:#000000;
    
}

.card-image{
    width: 291px;
    height: 272px;

}